@use "../util/" as u;
@use "../globals/" as g;
.errors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 50rem;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
  /* For Webkit Browsers */
  & .error{
    font-size: var(--fs);
  background-color:g.$clr-danger-dark;
  color:var(--clr-light);
  }
  &__container {
    padding:0.2rem 0.3rem;
    font-family: var(--ff);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    margin: auto;
    background-color:g.$clr-danger-dark;
    border:0.2rem solid g.$clr-danger-dark;
    min-width: 27rem;
    max-width: 50rem;
    height: fit-content;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    animation: slideCenterForAbsolute 0.5s ease-in-out;
    box-shadow: var(--div-shadow);
    &.open{
      display: flex;
    }

    
    ::-webkit-scrollbar-thumb {
      background-color: g.$clr-danger-dark; /* Set the color of the scrollbar thumb */
      border-radius: var(--br); /* Set the rounded corners of the scrollbar thumb */
    }
    
    ::-webkit-scrollbar-track {
      background-color:g.$clr-danger-light; /* Set the color of the scrollbar track */
    }
  }

&__closer{
  position: absolute;
  right: 0;
  top:-3.8rem;
  border: 0.2rem solid g.$clr-danger-dark;
  background-color:g.$clr-danger-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
 > span{
  color:var(--clr-light);
  font-size: 2.5rem;
  cursor: pointer;
 font-weight: 400;
}
}
}