@use "../util/" as u;
@use "../globals/" as g;

.tab {
  &s {
    &__container {
      margin-top: 4.5rem;
      position: relative;
     height: fit-content;
    border-radius:var(--br);
    border:0.3rem solid g.$clr-bg-dark;
    }

  }

  &__trigger {
    &s {
      display: flex;
     flex-direction: column;
   @include u.breakpoint(md) {
    position: absolute;
    flex-direction: row;
    left: 1rem;
    top: -4rem;
    z-index: 1;
    gap: 0.5rem;
    height: 4rem;
      }
    }
    min-width:fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:var(--fs);
    color: var(--clr-font);
    text-transform: uppercase;
    background-color: g.$clr-bg-light;
    border-bottom: 0.3rem solid g.$clr-bg-dark;
     &:first-of-type{
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;
     }
    @include u.breakpoint(md) {
      border: 0.3rem solid g.$clr-bg-dark;
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;
      }
    &:hover {
      background-color: g.$clr-bg;
    }
    &.active {
    background-color: var(--clr-light);
    @include u.breakpoint(md) {
      box-shadow: 0 -0.3rem 0 0 g.$clr-bg-dark;
      border-bottom: 0rem;
      }
    }
  }

  &__panel {
   &s{
      height:100%;
      display:block;
    }
  min-width: 100%;
  min-height: 100%;
  padding: 2rem;
  background-color:var(--clr-light);
  display: none;
  align-items: center;
  justify-content:center;
  border-radius:var(--br);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
}
