@use "../util/" as u;
@use "../globals/" as g;
.toast {
  &__container {
    position: fixed;
    bottom: 10rem;
    right: 1rem;
    z-index: 25;
    max-width: 27rem;
    transform: scale(1);
    background-color: g.$clr-success-dark;
    box-shadow: var(--div-shadow);
    padding: 2rem;
    transition: transform 0.3s ease-in-out 0.2s;
    display: none;
    justify-content: center;
    align-items: center;
    &.open {
      display: flex;
      animation: slideInRight 0.3s ease-in-out;
    }
  }
  font-size: var(--fs);
  color: var(--clr-light);
}
