@use "../util/" as u;
@use "../globals/" as g;

/* Add Animation */
@-webkit-keyframes slideInCentre {
  0% {
    transform: translate(0, -300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, 30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideInCentre {
  0% {
    transform: translate(0, -300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, 30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideCenterForAbsolute {
  0% {
    transform: translate(-50%, -300%) scale(0);
    opacity: 0;
  }
  80% {
    transform: translate(-50%, -30%) scale(1.1);
    opacity: 1;
  }
}

@keyframes slideCenterForAbsolute {
  0% {
    transform: translate(-50%, -300%) scale(0);
    opacity: 0;
  }
  80% {
    transform: translate(-50%, -30%) scale(1.1);
    opacity: 1;
  }
}
//
/* Add Animation */
@-webkit-keyframes slideInLeft {
  0% {
    transform: translate(0, -300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, 30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate(-300%, 0);
    opacity: 0;
  }
  80% {
    transform: translate(30%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    transform: translate(0, -300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, 30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translate(300%, 0);
    opacity: 0;
  }
  80% {
    transform: translate(-30%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animateButtonIcon {
}

@keyframes animateButtonIcon {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes bgSlide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes bgSlide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@-webkit-keyframes arrowSlide {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
}

@keyframes arrowSlide {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translate(0, 300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, -30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    transform: translate(0, 300%);
    opacity: 0;
  }
  80% {
    transform: translate(0, -30%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}
